@import "tailwindcss";
/*hide scrollbar*/
* {
  scrollbar-width: none; /*Firefox*/
  -ms-overflow-style: none; /* IE/Edge old versions*/
}

::-webkit-scrollbar {
  display: none; /*Chrome Safari, Opera*/
}
